.masthead {
  font-size: 22px;
  min-height: 30rem;
  position: relative;
  z-index: -1;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: url('../img/bg-masthead.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 2.6rem;
    }
  }
}
.main-container {
  background: #fff;
  margin: auto;
  //margin-top: 60px;
  padding: 40px 40px;
  border-radius: 20px;


    @media (min-width: 992px) {
      padding: 40px 60px;
    }
}
.main-container.hero {
  margin-top:0;
  border-radius: 0;
}
.lead-block {
  background-color: #00609c;
  color: #fff;
}
.tagline {
  font-size: 22px;
}



